.text-blue{
    color:#175CD3;
}
.text-blue-2 {
    color: #1570EF !important;
}
.text-pink{
    color:#C11574;
}
.text-green{
    color:#027A48;
}
.text-purpel{
    color:#363F72;
}
.text-primary {
    color: #175CD3 !important;
}
.text-green-2{
    color:#039855;
}
.text-orange{
    color:#DC6803;
}
.text-black {
    color: #344054 !important;
}